@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul>
        <li>
            @ViewData["Token"]
        </li>
        <li>
            <div style="width: 200px;white-space: pre-wrap">
                @ViewData["Token64"]
            </div>
        </li>
    </ul>
</div>
